<!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
   <a class="navbar-brand" href="{% url 'index' %}">  GESTION COMERCIAL</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    
    </button>

   
      <ul class="navbar-nav ml-auto"> 

      <  <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-sign-out"></i>INGRESO </a>
        </li>


         <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-sign-out"></i>OTRAS APPS</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="http://gmys.com.co/"><img  src="{{ STATIC_URL }}images/gmys_logo.png">
            <i class="fa fa-fw fa-sign-out" ></i>GMYS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://fv.gmys.com.co/">
            <i class="fa fa-fw fa-sign-out"></i>Inicio.</a>
        </li> 
        </ul>
  </nav>


